<!DOCTYPE html>
<html ng-app="nilsArmoireApp">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="description" content="L'Armoire de Nils">
        <meta name="author" content="Gregory DEPUILLE"/>

        <title>L'armoire de Nils</title>

        <!-- add styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>

        <!-- add javascripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-animate.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-touch.min.js"></script>
        <script src="js/app.js"></script>
    </head>

    <body ng-controller="MainCtrl">

        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">L'armoire de Nils</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catégorie <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="(key, value) in categories" ng-class="{'active': catName === key}"><a href="#" ng-click="selectCategorie(key)">{{key}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <h3>{{catName}}</h3>
                    </div>
                    <!-- thumbnail list -->
                    <!-- extra navigation controls -->
                    <ul class="thumbnav">
                        <li ng-repeat="photo in currentCategorie.photos" ng-class="{'active':isActive($index)}">
                            <a href="#"><img src="{{photo.thumbUrl}}" title="{{photo.desc.title}}" ng-click="showPhoto($index);"/></a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-8">
                    <div ng-repeat="photo in currentCategorie.photos" ng-show="isActive($index)">
                        <div class="row">
                            <h3>{{photo.desc.title}}</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Référence : {{photo.ref}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>Prix : {{photo.desc.prix}} €</p>
                            </div>
                        </div>
                        <div class="row">
                            <p>{{photo.desc.description}}</p>
                        </div>
                        <div class="row">
                            <img title="{{photo.desc.title}}"
                                 ng-swipe-right="showPrev()" ng-swipe-left="showNext()"
                                 ng-src="{{photo.url}}"/>
                        </div>
                    </div>

                    <!-- prev / next controls -->
                    <a class="arrow prev" href="#" ng-click="showPrev()"></a>
                    <a class="arrow next" href="#" ng-click="showNext()"></a>
                </div>
            </div>
        </div>
    </body>
</html>
